#brandonhill-header
  background: url('https://scottyzen.sirv.com/Images/v/brush-strokes.png') no-repeat center, url('https://scottyzen.sirv.com/Images/v/brandon-header.jpg') no-repeat center
  background-position: 0% 102%, bottom
  background-size: 100% auto, cover
  height: calc(30vh + 60vw)
  margin-bottom: 20px
  +tablet
    height: calc(30vh + 40vw)  
  +laptop
    height: calc(30vh + 30vw)
    margin-bottom: 50px
.freneys-well
  img
    max-width: 100%

#duiskeabbey-header
  background: url('https://scottyzen.sirv.com/Images/v/brush-strokes3.png') no-repeat center, url('https://scottyzen.sirv.com/Images/v/duiske5.jpg') no-repeat center
  background-position: 0% 102%, bottom
  background-size: 100% auto, cover
  height: calc(30vh + 75vw)
  margin-bottom: 20px
  .hamburger-inner
      box-shadow: 0 1px 2px rgba(1,1,1,0.35)
      &::before, &::after
          box-shadow: 0 1px 2px rgba(1,1,1,0.35)
  +tablet
    height: calc(30vh + 50vw)  
  +laptop
    height: calc(30vh + 30vw)
    margin-bottom: 50px
.history
  .section-title
      margin-top: 12%
.mass-times
    margin: auto
    max-width: 450px
    margin-top: 20%
    h3 
        font-family: 'festivo'
        color: rgba(51,153,51,0.75)
    p 
        padding: (6px 0 0 0 !important)
        margin: (0 !important)
        width: 100%
        span 
            float: right
            font-weight: bold


#tinnahinchcastle-header
  background: url('https://scottyzen.sirv.com/Images/v/brush-strokes3.png') no-repeat center, url('https://scottyzen.sirv.com/Images/v/tinnahinch-castle-header.jpg') no-repeat left
  background-position: 0% 102%, top
  background-size: 100% auto, cover
  height: calc(30vh + 45vw)
  margin-bottom: 20px
  .hamburger-inner
      box-shadow: 0 1px 2px rgba(1,1,1,0.35)
      &::before, &::after
          box-shadow: 0 1px 2px rgba(1,1,1,0.35)
  +tablet
    height: calc(30vh + 35vw)
  +laptop
    height: calc(30vh + 30vw)
    background-size: 100%, cover
    margin-bottom: 50px

#riverbarrow-header
  background: url('https://scottyzen.sirv.com/Images/v/brush-strokes3.png') no-repeat center, url('https://scottyzen.sirv.com/Images/v/river-barrow-header.jpg') no-repeat left
  background-position: 0% 102%, bottom
  background-size: 100% auto, cover
  height: calc(30vh + 55vw)
  margin-bottom: 50px
  +tablet 
    height: calc(30vh + 35vw)
  +laptop
    height: calc(28vh + 28vw)
